.card-container {
	background: rgba(28, 28, 28, 0.6);
	backdrop-filter: blur(20px);
	border-radius: 16px;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 33px;
	padding-right: 39px;
	margin-top: 3%;
}